/**
  |============================
  | common styles
  |============================
*/
:root {
    --background-color: #2E2F42;
    --btn-hover-color: #404BBF;
    --color-iris: #4D5AE5;
    --color-cloud: #F4F4FD;
    --white-color: #ffffff;
    --body-color: #434455;
    --cornflower: #E7E9FC;
}

/**
  |============================
  | reset styles
  |============================
*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
ol,
ul,
li,
tr,
th,
td,
footer,
header,
hgroup,
menu,
nav,
section,
audio,
video,
span {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.btn {
    font-family: inherit;
    cursor: pointer;
}

img {
    display: block;
}

.container {

    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-color);
    background-color: var(--white-color);
}

/**
  |============================
  | Header section
  |============================
*/
.header-flex {
    display: flex;
    justify-content: space-between;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header {
    border-bottom: 1px solid var(--cornflower);
}

.site-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway",
        sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-iris);
    margin-right: 76px;
}

.title-accent {
    color: var(--background-color);
}

.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color);
    padding: 24px 0;
    display: block;
}

.menu:focus,
.menu:hover {
    color: var(--btn-hover-color);
}

.headr-adress {
    font-style: normal;
}

.mail-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color);
    padding: 24px 0;
    display: block;
}

.mail-tel:focus,
.mail-tel:hover {
    color: var(--btn-hover-color);
}

/**
  |============================
  | Section 1
  |============================
*/


.section-title {
    background: var(--background-color);
    padding-top: 188px;
    padding-bottom: 188px;
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    display: block;
    margin: 0 auto;
    color: var(--white-color);
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    margin-top: 0;
    max-width: 496px;
}

.title-btn {
    background: var(--color-iris);
    color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    width: 169px;
    height: 56px;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    border: none;
    border-radius: 4px;
}

.title-btn:hover {
    background-color: var(--btn-hover-color);
}

.title-btn:focus {
    background-color: var(--btn-hover-color);
}

/**
  |============================
  | Section 2
  |============================
*/
.section-two {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.sect-two-list {
    display: flex;
    gap: 24px;
}

.items-bloks {
    width: calc((100% - 3 * 24px) / 4);
}

.section-bloks-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--background-color);
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.section-bloks-text {
    color: var(--body-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**
  |============================
  | Section 3
  |============================
*/

.section-works {
    padding-bottom: 120px;
}

.subtitle-works {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--background-color);
    margin-bottom: 72px;
}

.list-works {
    display: flex;
    gap: 24px;
}

/**
  |============================
  | Section 4
  |============================
*/
.section-team {
    background: var(--color-cloud);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--background-color);
    margin-bottom: 72px;
}

.list-teams {
    display: flex;
    gap: 24px;
}

.item-team {
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
}

.team-block {
    padding: 32px 16px;
}

.team-name {
    color: var(--background-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.desc-name {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color);
    text-align: center;
}

/**
  |============================
  | footer
  |============================
*/
.footer {
    background: var(--background-color);
    padding: 100px 0;
}

.logo-footer {
    color: var(--color-iris);
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0;
}

.title-accent-footer {
    color: var(--color-cloud);
    color: var(--color-cloud);
    margin-left: -3px;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
    width: 264px;
}

/**
  |============================
  | portfolio body
  |============================
*/
.sect-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.menu-portfolio {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.scrolls {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--color-cloud);
    color: var(--color-iris);
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    padding: 12px 24px;
}

.scrolls:focus,
.scrolls:hover {
    background: var(--btn-hover-color);
    color: var(--white-color);
    border: 1px solid transparent;
}

.link-block {
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
}

.link-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-color);
    margin-bottom: 8px;
}

.link-desk {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color);
}

.list-portfolio {
    display: flex;
    gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.item-portfolio {
    width: calc((100% - 48px) / 3);
}