/*common styles*/
:root {
    --background-color: #2E2F42;
    --btn-hover-color: #404BBF;
    --color-iris: #4D5AE5;
    --color-cloud: #F4F4FD;
    --white-color: #ffffff;
    --body-color: #434455;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-color);
    background-color: var(--white-color);
}

/*reset styles*/
.list {
    list-style: none;
    margin: 0;
}

.link {
    text-decoration: none;
}

.btn {
    font-family: inherit;
    cursor: pointer;
}

/**
  |============================
  | Header section
  |============================
*/
.header {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}

.site-nav {
    margin-left: 156px;
}

.logo {
    font-family: "Raleway",
        sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-iris);
}

.title-accent {
    color: var(--background-color);
}

.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color);
}

.menu:focus,
.menu:hover {
    color: var(--btn-hover-color);
}

.headr-adress {
    font-style: normal;
    margin-right: 156px;
}

.mail-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color);
}

.mail-tel:focus,
.mail-tel:hover {
    color: var(--btn-hover-color);
}

/**
  |============================
  | Section 1
  |============================
*/
.section-title {
    background: var(--background-color);
    margin-bottom: 60px;
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: var(--white-color);
    letter-spacing: 0.02em;
    margin-top: 188px;
    margin-bottom: 48px;
}

.title-btn {
    background: var(--color-iris);
    color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    margin-bottom: 188px;
}

.title-btn:hover {
    background-color: var(--btn-hover-color);
}

.title-btn:focus {
    background-color: var(--btn-hover-color);
}

/**
  |============================
  | Section 2
  |============================
*/
.section2 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-bloks-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--background-color);
    letter-spacing: 0.02em;
}

.section-bloks-text {
    color: var(--body-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**
  |============================
  | Section 3
  |============================
*/

.section-works {
    padding-top: 60px;
    padding-bottom: 120px;
}

.subtitle-works {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--background-color);
    margin-bottom: 72px;
    margin-top: 0;
}

/**
  |============================
  | Section 4
  |============================
*/
.section-team {
    background: var(--color-cloud);
}

.team-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--background-color);
}

.item-team {
    background-color: var(--white-color);
}

.team-name {
    color: var(--background-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.desc-name {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color);
}

/**
  |============================
  | footer
  |============================
*/
.footer {
    background: var(--background-color);
}

.logo-footer {
    color: var(--color-iris);
}

.title-accent-footer {
    color: var(--color-cloud);
    color: var(--color-cloud);
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
}

/**
  |============================
  | portfolio body
  |============================
*/
.scrolls {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--color-cloud);
    color: var(--color-iris);
}

.scrolls:focus,
.scrolls:hover {
    background: var(--btn-hover-color);
    color: var(--white-color);
}

.link-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--background-color);
}

.link-desk {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color);
}

.container {
    border: 3px solid red;
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}