/*common styles*/
:root {
    --background-color: #2E2F42;
    --btn-hover-color: #404BBF;
    --color-iris: #4D5AE5;
    --color-cloud: #F4F4FD;
    --white-color: #ffffff;
    --body-color: #434455;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--body-color);
    background-color: var(--white-color);
}

/*reset styles*/
.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    font-style: normal;
    color: #2E2F42;
}

.btn {
    font-family: inherit;
    cursor: pointer;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}



/**
  |============================
  | Header section
  |============================
*/

.logo {
    font-family: "Raleway",
        sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-iris);
}

.title-accent {
    color: var(--background-color);
}

.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color);
}

.menu:focus,
.menu:hover {
    color: var(--btn-hover-color);
}

.headr-adress {
    font-style: normal;
}

.tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color);
}

.mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color);
}

.tel,
.mail:focus {
    color: var(--btn-hover-color);
}

.tel,
.mail:hover {
    color: var(--btn-hover-color);
}

/**
  |============================
  | Section 1
  |============================
*/
.section-1 {
    background: #2E2F42;
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
    letter-spacing: 0.02em;
}

.title-btn {
    background: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
}

.title-btn:hover {
    color: var(--btn-hover-color);
}

.title-btn:focus {
    color: var(--btn-hover-color);
}

/**
  |============================
  | Section 2
  |============================
*/
.section2-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

.section2-text {
    color: #434455;
    line-height: 1.5;
}

/**
  |============================
  | Section 3
  |============================
*/
.section3>h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section3-list>li>img {
    border: 1px solid #E7E9FC;
    background: url(2368.jpg);
}

/**
  |============================
  | Section 4
  |============================
*/
.section-4 {
    background: #F4F4FD;
}

.section4-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.desc-name {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/**
  |============================
  | footer
  |============================
*/
.footer {
    background: #2E2F42;
    color: #F4F4FD;
}

.logo-footer {
    color: #F4F4FD;
}

/**
  |============================
  | portfolio body
  |============================
*/
.scrolls {
    background: #F4F4FD;
    color: #4D5AE5;
}

.scrolls:focus .scrolls,
.scrolls:hover {
    background: #404BBF;
    color: #FFFFFF;
}